

<h1><%=@the_user.username%></h1> 
<%#@the_user.inspect%>
<dl>

<dt>ID</dt>

<dd><%=@the_user.id%></dd>
<dt>Edit user<dt>
    <form action="/update_user/<%= @the_user.id %>">
      <label for="new_name">Username</label>
      <input id="new_name" type="text" name="new_name" placeholder="Enter a username..." value="<%=@the_user.username%>">

     <button>Update user</button>
</dl>





<h2>Own photos (<%=@the_user.own_photos.size%>)</h2>

</dl>
<table border ="1">

<%@the_user.own_photos.each do |a_photo| %>

<tr>
  <td>
  <img src="<%= a_photo.image %></th>">
  </td>
  <td>
  <#%= User.where({ :id => a_photo.owner_id }).first.username%>
  
  <%=a_photo.poster.username%>

  </td>
  <td><%= a_photo.caption %></td>
  <td><%= a_photo.created_at %></td>
  <td></td>
</tr>
<% end%>
<table>
